{% load staticfiles %}
{% load compile_static %}

<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student's Dashboard Demo</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <script src="{% static 'scripts/d3.v3.min.js' %}"></script>
</head>

<body>
  <header>
    <nav class='nav'>
      <span class="nav-logo">
      </span>
      <span class="nav-text nav-hide-on-small">Student's Dashboard</span>
      {% block students_list %}
      <span class="nav-text nav-float-right">
        <select name="student" id="select-student">
            <option disabled="disabled" selected="selected"></option>
        </select>
        <script src="{% compile 'scripts/student-selectbox.coffee' %}"></script>
        <script>student_box({{ student_id }});</script>
      </span>
      {% endblock %}
    </nav>
  </header>
  <nav class="nav-course">
    <span>Courseware</span>
    <span class="tab-active">Progress</span>
  </nav>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>
